<div class="page__footer">
  <footer>
    <div class="footer__content">
      <div class="footer__title">{{ site.author.name }}</div>
      <div class="footer__links">
        {% if site.author.googlescholar %}
          <a href="{{ site.author.googlescholar }}" rel="noopener noreferrer">Google Scholar</a>
        {% endif %}
        {% if site.author.github %}
          <a href="https://github.com/{{ site.author.github }}" rel="noopener noreferrer">GitHub</a>
        {% endif %}
        {% if site.author.linkedin %}
          <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" rel="noopener noreferrer">LinkedIn</a>
        {% endif %}
      </div>
    </div>
    <div class="mapmyvisitors-widget" style="max-width: 300px; margin: 0.75rem auto 0;">
      <script type="text/javascript" id="mapmyvisitors"
        src="//mapmyvisitors.com/map.js?d=TW7CUe-lnN0Y7N4oHbwaPJUhkq43bNvcNinRV7yUTxs&cl=ffffff&w=a">
      </script>
    </div>
  </footer>
</div>
