<div class="page__footer">
  <footer>
    <div class="footer__content">
      <div class="footer__title">{{ site.author.name }}</div>
      <div class="footer__links">
        {% if site.author.googlescholar %}
          <a href="{{ site.author.googlescholar }}" rel="noopener noreferrer">Google Scholar</a>
        {% endif %}
        {% if site.author.github %}
          <a href="https://github.com/{{ site.author.github }}" rel="noopener noreferrer">GitHub</a>
        {% endif %}
        {% if site.author.linkedin %}
          <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" rel="noopener noreferrer">LinkedIn</a>
        {% endif %}
      </div>
    </div>
    <div class="clustrmaps-widget" style="max-width: 300px; margin: 0.75rem auto 0;">
      <script type="text/javascript" id="clstr_globe"
        src="//clustrmaps.com/globe.js?d=m3M21NuSi4cFbGJkxJgWcLda133vl3pViPX7MVN2cd0">
      </script>
    </div>
  </footer>
</div>
